extends layoutLogin

block content

  section.vh-100
    .container.py-5.h-100
      .row.d-flex.justify-content-center.align-items-center.h-100
        .col-12.col-md-8.col-lg-6.col-xl-5
          .card.shadow-2-strong(style='border-radius: 1rem;')
            .card-body.p-5
              form.needs-validation(method="POST", action="/accountLogin" style="--bs-bg-opacity: .8;")
                h3.mb-5 Por favor ingresa a tu cuenta
                .form-outline.mb-4
                  input#username.form-control.form-control-lg(type='email' name="username" placeholder='' required)
                  label.form-label(for='username') Email
                .form-outline.mb-2
                  input#password.form-control.form-control-lg(type='password' name="password" required)
                  label.form-label(for='password') Password
                .text-center
                  #has-warning
                    spam.help-block.text-danger= error
                // Checkbox
                .form-check.d-flex.justify-content-start.mb-4
                  input#rememberPassword.form-check-input.me-2(type='checkbox', value='')
                  label.me-3.form-check-label(for='rememberPassword') Remember password 
                .text-center
                  //- button.btn.btn-primary.btn-lg.btn-block(type='submit') 
                  button.btn.btn-primary.btn-block.fa-lg.mb-3(type='submit')
                    | Iniciar
                    | Session
                .text-center
                  a.text-muted(href='#!') Olvidaste tu password?
                //- .d-flex.align-items-center.justify-content-center.p-4
                //-   p.mb-0.me-2 Aun no tienes tu cuenta? 
                //-   button.btn.btn-outline-danger(type="button") Creala ahora
                .text-center.text-muted.mt-3.mb-0
                    | Aun no tienes una cuenta? 
                    a.fw-bold.text-body(href='/accountCreation')
                      u Creala ahora