extends layoutLogin

block content
  script. 
    $(document).ready(function() {
      $("#validate").validate({
        rules: {
            password: 'required',
            password2: 'required',
            confirm: {
               required: true,
               equalTo : "#password2",
            },
        },
        messages: {
         password: 'Current Password is required',
         password2: 'New Password is required',
         confirm: {
           required : 'Confirm Password is required',
           equalTo : 'Password not matching',
         }
        },
      });
    });
  .container.py-4
      .mask.d-flex.align-items-center.h-100.gradient-custom-3
        .container.h-100
          .row.d-flex.justify-content-center.align-items-center.h-100
            .col-12.col-md-9.col-lg-7.col-xl-6
              .card(style='border-radius: 15px;')
                .card-body.p-5
                  h3.text-center.mb-2 Crea tu cuenta                    
                  form.needs-validation(method="POST", action="/accountCreation" id="validate" style="--bs-bg-opacity: .8;")
                    .justify-content-center.text-center.mb-2
                      #has-warning
                        spam.help-block.text-danger= error
                    .form-outline.mb-4
                      input#realName.form-control.form-control-lg(type='text' name="realName" required)
                      label.form-label(for='realName') Nombre
                    .form-outline.mb-4
                      input#email.form-control.form-control-lg(type='email' name="email" required)
                      label.form-label(for='email') Correo electronico
                    .form-outline.mb-4
                      input#password.form-control.form-control-lg(type='password' name='password' required)
                      label.form-label(for='password') Password
                    .form-outline.mb-4
                      input#password2.form-control.form-control-lg(type='password' name='password2' required)
                      label.form-label(for='password2') Confirma tu password
                    .form-check.d-flex.justify-content-center.mb-5
                      input#acceptTermsAndConds.form-check-input.me-2(type='checkbox', value='' name='acceptTermsAndConds')
                      label.form-check-label(for='acceptTermsAndConds')
                        | Estoy de cuerdo con los 
                        a.text-body(href='#!')
                          u Terminos y servicios
                    .d-flex.justify-content-center
                      button.btn.btn-primary.btn-block.btn-lg.text-body(type='submit') Registrar
                    p.text-center.text-muted.mt-5.mb-0
                      | Ya tienes una cuenta? 
                      a.fw-bold.text-body(href='/accountLogin')
                        u Inicia aqui

