extends layout

block content
  script.
  form.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/arrivedConfirmed")
    .row.p-3
      .text-center
        h1 Registro de llegada     
    .row 
      p.text-center
        | Disfruta la fiesta
    