extends layout

block content
  form.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/download")
    .row
      .text-center
        h1 Descargando
    .row 
      p.text-justify
        | Sentimos no poder contar con tu presencia pero esperamos poder verte pronto 
    .row 
      p.text-justify
        | Ahora puedes descargar tus boletos en diferentes formatos 