extends layout

block content
  form.container.p-3.mb-2.bg-white.needs-validation(method="POST", action="/confirm" style="--bs-bg-opacity: .8;")
    .row.p-3.d-flex.justify-content-center.align-items-center
      .text-center
        h4 Celebrando juntos los 
        h1 XV años de Karla Yaretzi
        h3 Padres Monica y Carlos
    .row.d-flex.justify-content-center.align-items-center
      hr
    .row.p-3.d-flex.justify-content-center.align-items-center
      .text-center
        p Nos encantaria verte pronto! Por favor indica tu correo o telefono movil para iniciar el proceso de confirmación o declinación 
    .row.d-flex.justify-content-center.align-items-center
      .text-center
        input#mailOrPhone.form-control(required type="text"  placeholder="Correo o telefono" name="mailOrPhone" )
    .row.p-3.d-flex.justify-content-center.align-items-center
      .text-center
        #has-warning
          spam.help-block.text-danger= error
    .row.p-3
      button.btn.btn-primary.text-uppercase(type="submit") Iniciar
    //-  style="border-radius: 0em;"

