extends layout

block content
  form.container.p-3.bg-white.needs-validation(method="POST", action="/confirm" novalidate style="--bs-bg-opacity: .8;")
    .row.p-3.d-flex.justify-content-center.align-items-center
      .text-center
        h1 Nos encantaria verte pronto!
    .row.d-flex.justify-content-center.align-items-center
      hr
    .row.p-3.d-flex.justify-content-center.align-items-center
      .text-center
        p Por favor indica tu correo o telefono movil para iniciar el proceso de confirmación o declinación 
    .row.d-flex.justify-content-center.align-items-center
      .text-center
        input#mailOrPhone.form-control(type="text", placeholder="Correo o telefono" name="mailOrPhone" required)
    .row.p-3.d-flex.justify-content-center.align-items-center
      .text-center
        #has-warning
          spam.help-block.text-danger= error
    .row.p-3
      button.btn.btn-primary(type="submit") Iniciar

