doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Lets celebrate together
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar.navbar-expand-lg.navbar-fixed-top.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href="#") Reporting
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarSupportedContent")
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link(href="#")
            //- li.nav-item.dropdown
            //-   a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Dropdown
            //-   ul.dropdown-menu(aria-labelledby="navbarDropdown")
            //-     li 
            //-       a.dropdown-item(href="/reporting") Action
            li.nav-item
              a.nav-link(href="/reporting" tabindex="0" aria-disabled="true") Home
            li.nav-item
              a.nav-link(href="/reportingDetails" tabindex="1" aria-disabled="true") Details
            li.nav-item
              a.nav-link(href="/reportingGraph" tabindex="2" aria-disabled="true") Respuestas por familia
            li.nav-item
              a.nav-link(href="/reportingGraphGuestCount" tabindex="3" aria-disabled="true") Total de Invitados
            li.nav-item
              a.nav-link(href="/logout" tabindex="4" aria-disabled="true") Salir
              

    block content
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
    

