extends layoutReporting

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js")
  form.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/reporting")
    .row.p-3
      .text-center
        h1 Resumen de invitados por grupo de edad
    .row.p-3.h-100.d-flex.align-items-center.justify-content-center
      canvas(id="myChart" style="width:100%;max-width:600px")
  script.
    var xValues = [!{xValues}]
    var yValues = [!{yValues}]
    var barColors = ["red", "green", "orange"]
    //- ["red", "green","blue","orange","brown"];

    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
          },
          legend: {display: false},
          title: {
            display: true,
            text: "Invitados por estado"
          },
        }
    });
          
    