extends layoutReporting

block content
  script.
  form.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/")
    .row.p-3
      .text-center
        h1 Reporte
    .row.p-3
      .text-center
        p Bienvenido a la suit de reportes que te daran visibilidad sobre tus invitados