extends layout

block content
  form.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/download")
    .row
      .text-center
        h1 Gracias por tu respuesta
    .row 
      hr
    if guest.response == "confirmed"
      .row 
        p.text-center
          | Ahora puedes descargar tus boletos en diferentes formatos
      .row.p-3
        select.form-control
          option(value="pdf") PDF
          option(value="pdf") Imagen
          option(value="pdf") Pase Movil
      .row  
        button.btn.btn-primary(type="submit") Descargar
 
    else 
      .row 
        p.text-center
          | Sentimos no poder contar con tu presencia pero esperamos poder verte pronto 
    
    
