extends layout

block content
  form.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/download")
    .row
      .text-center
        h1 Gracias
    .row 
      p
        img(src=qr alt="Codigo QR") 